.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    overflow: hidden;
    border: 1px solid #35f;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 10000;
}

.cart-button i {
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #35f;
    text-align: center;
    padding-top: 5px;
}

.cart {
    background: #000;
    display: none;
    padding: 30px;
    position: fixed;
    gap: 40px;
    right: 0;
    top: 0;
    width: 270px;
    height: 100vh;
    border: 1px solid #666;
    overflow-y: scroll;
    z-index: 9999;
    animation: showcart 500ms;
}
.cart h1{
    border-bottom: 1px solid #666;
}

.cart-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@keyframes showcart {
    from {
        right: -270px;
    }

    to {
        right: 0;
    }
}

.cart-button~input:checked~.cart {
    display: grid;
}

.brush{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    overflow: hidden;
    border: 1px solid #f00;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #f00;
    background: #222;
    font-size: 20px;
    margin: auto;
}