.products{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.products-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 2em;
    padding: 20px 0;
    margin-bottom: 2em;
    border-bottom: 1px solid #666 ;
}

.products-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1200px;
    height: 100%;
    gap: 2.5em;
    list-style: none;
    margin: auto;
}