.item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: #000;
    border-radius: 10px;
    box-shadow: 0 0 20px -10px #000;
}

.item-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}

.item-details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item-details h3{
    font-size: 25px;
}
.item-details p{
    font-size: 18px;
    font-weight: 600;
}