.item {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: #000;
    border-radius: 10px;
    box-shadow: 0 0 20px -10px #000;
}

.item-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    font-weight: 600;
    animation: img-loading 700ms infinite alternate;
}

@keyframes img-loading{
    from{
        background: #ececec;
        color: #555
    }
    to{
        color: #ececec;
        background: #555
    }
}

.item-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.item-details h3 {
    font-size: 25px;
}

.item-details p {
    font-size: 18px;
    font-weight: 600;
    color: #fff6;
}

.item-buttons {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.item-buttons button{
    background: transparent;
    font-size: 25px;
    color: #fff;
    border-radius: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
}