.header{
    width: 100vw;
    height: 80px;
    background: #0006;
    padding: 20px 20px;
    font-size: 18px;
    border-bottom: 1px solid #666;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    backdrop-filter: blur(20px);
}
.header-logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 100%;
}